allow from all

<Files ~ "\.[mM][dD]$|\.[cC][oO][nN][fF]$|^\.|generate\-.+$">
    order allow,deny
    deny from all
    satisfy all
</Files>

php_value upload_max_filesize 400G
php_value post_max_size 400G
